
@mixin grid-property($display,$gridcolumns,$gap){
    display: $display;
    grid-template-columns: $gridcolumns;
    gap: $gap;

}
@mixin section-wrapper($padding,$background:#fff){
    background-color: $background;
    padding: $padding;
}